<section class="partners" appAnimateOnScroll aria-labelledby="partners-heading">
  <div class="partners__inner">
    <h2 id="partners-heading" class="partners__title">{{ sectionTitle }}</h2>
    <div class="partners__slider-wrap">
      <div class="partners__track">
        @for (partner of partners; track partner.id) {
          <div class="partners__card">
            @if (partner.logoUrl) {
              <img [src]="partner.logoUrl" [alt]="partner.name" class="partners__logo" />
            } @else {
              <span class="partners__placeholder">{{ partner.name }}</span>
            }
          </div>
        }
        @for (partner of partners; track partner.id + 'dup') {
          <div class="partners__card">
            @if (partner.logoUrl) {
              <img [src]="partner.logoUrl" [alt]="partner.name" class="partners__logo" />
            } @else {
              <span class="partners__placeholder">{{ partner.name }}</span>
            }
          </div>
        }
      </div>
    </div>
  </div>
</section>
