<header class="header">
  <div class="header__inner">
    <a [routerLink]="['/']" class="header__brand" (click)="closeMenu()">
      <img
        [src]="logoPath"
        alt="{{ siteName }}"
        class="header__logo-img"
        width="180"
        height="60"
      />
    </a>

    <button
      type="button"
      class="header__toggle"
      [attr.aria-expanded]="menuOpen"
      aria-label="Menü öffnen/schließen"
      (click)="toggleMenu()"
    >
      <span class="header__toggle-bar" [class.header__toggle-bar--open]="menuOpen"></span>
      <span class="header__toggle-bar" [class.header__toggle-bar--open]="menuOpen"></span>
      <span class="header__toggle-bar" [class.header__toggle-bar--open]="menuOpen"></span>
    </button>

    <nav class="header__nav" [class.header__nav--open]="menuOpen">
      <ul class="header__list">
        @for (link of navLinks; track link.path) {
          <li class="header__item">
            <a
              [routerLink]="link.path"
              routerLinkActive="header__link--active"
              [routerLinkActiveOptions]="{ exact: link.path === '' }"
              class="header__link"
              (click)="closeMenu()"
            >
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </nav>
  </div>
</header>
